:root{--color-primary: #2D2926;--color-secondary: #C49B8D;--color-accent: #F3DCD4;--color-bg: #FDFBF9;--color-bg-alt: #FBF7F4;--color-text: #4A4543;--color-text-muted: #8B7355;--color-border: #E8DCD6;--color-shadow: rgba(45, 41, 38, .1)}
